com.sh
bazel-CPlusPlusThings
bazel-bin
bazel-out
bazel-testlogs
bazel-cplusplus_bazel
.vscode
/practical_exercises/10_day_practice/day10/file/10-4
/practical_exercises/10_day_practice/day10/file/12-2
/practical_exercises/10_day_practice/day10/file/12-3
/practical_exercises/10_day_practice/day10/file/12-5
/practical_exercises/10_day_practice/day10/file/12-6
/practical_exercises/10_day_practice/day10/file/a.dat
